In [24]:
import pandas as pd
import numpy as np
import math
import json
from statsmodels.imputation import mice
from statsmodels.imputation.mice import MICEData

# read in the json files
portfolio = pd.read_json('../data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('../data/profile.json', orient='records', lines=True)
transcript = pd.read_json('../data/transcript.json', orient='records', lines=True)

In [26]:
profile["became_member_on"] = pd.to_datetime(profile["became_member_on"],format="%Y%m%d")
profile.head()

  gender  age                                id became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783       2017-02-12       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b       2017-07-15  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5       2018-07-12       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef       2017-05-09  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43       2017-08-04       NaN

In [27]:
profile["became_member_on"].max()

Timestamp('2018-07-26 00:00:00')

In [28]:
profile.isna().sum()/profile.shape[0]*100

gender              12.794118
age                  0.000000
id                   0.000000
became_member_on     0.000000
income              12.794118
dtype: float64

In [29]:
profile["member_since"] = abs(profile["became_member_on"] - np.array(pd.Timestamp.now().date(),dtype='<M8[ns]'))
profile["member_since"] = profile["member_since"].astype(int)
profile.head()

,gender,age,id,became_member_on,income,member_since
0,None,118,68be06ca386d4c31939f3a4f0e3dd783,2017-02-12,NaN,141609600000000000
1,F,55,0610b486422d4921ae7d2bf64640c50b,2017-07-15,112000.0,128390400000000000
2,None,118,38fe809add3b4fcf9315a9694bb96ff5,2018-07-12,NaN,97113600000000000
3,F,75,78afa995795e4d85b5d9ceeca43f5fef,2017-05-09,100000.0,134179200000000000
4,None,118,a03223e636434f42ac4c3df47e8bac43,2017-08-04,NaN,126662400000000000

In [30]:
profile.head()

,gender,age,id,became_member_on,income,member_since
0,None,118,68be06ca386d4c31939f3a4f0e3dd783,2017-02-12,NaN,141609600000000000
1,F,55,0610b486422d4921ae7d2bf64640c50b,2017-07-15,112000.0,128390400000000000
2,None,118,38fe809add3b4fcf9315a9694bb96ff5,2018-07-12,NaN,97113600000000000
3,F,75,78afa995795e4d85b5d9ceeca43f5fef,2017-05-09,100000.0,134179200000000000
4,None,118,a03223e636434f42ac4c3df47e8bac43,2017-08-04,NaN,126662400000000000

In [31]:
profile.dtypes

gender                      object
age                          int64
id                          object
became_member_on    datetime64[ns]
income                     float64
member_since                 int64
dtype: object

In [32]:
import statsmodels as sm

In [9]:
imp = mice.MICEData(profile[["income","member_since","age"]])
fml = 'income ~  member_since + age'
mice = mice.MICE(fml, sm.regression.linear_model.OLS, imp)
results = mice.fit(10, 10)
print(results.summary())

                          Results: MICE
=================================================================
Method:                MICE      Sample size:        17000
Model:                 OLS       Scale               703899205.75
Dependent variable:    income    Num. imputations    10
-----------------------------------------------------------------
             Coef.  Std.Err.    t     P>|t|  [0.025 0.975]  FMI
-----------------------------------------------------------------
Intercept    0.0000   0.0000 299.8041 0.0000 0.0000 0.0000 0.0823
member_since 0.0000   0.0000 299.8041 0.0000 0.0000 0.0000 0.0823
age          0.0000   0.0000 299.8041 0.0000 0.0000 0.0000 0.0823
=================================================================

In [42]:
imp = mice.MICEData(profile[["income","member_since","age"]])
imp.set_imputer('income', formula='member_since + age')

for j in range(20):
    imp.update_all()

profile["income"] = imp.data["income"]

https://stefvanbuuren.name/fimd/sec-pmm.html